<div class="m-4">
  <p><span class="fst-italic p-3">You :</span> <%= params[:ask] %></p>
  <p class="bg-warning"><span class="fst-italic p-3">Your coach :</span> <%= @answer %></p>
  <%= link_to "Ask a new question", root_path %>
</div>
