<div class="m-4">
  <form class="mt-4" method="GET" action="/answer" data-turbo="false">
    <label for="ask">Ask your coach anything :</label><br>
    <input class="" type="text" name="ask">
    <input class="btn btn-primary m-4" type="submit" value="Ask!">
  </form>
</div>
